@model CrudCrt4.Models.Conteudo
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <h4>Página</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Menu)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Menu)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Imagem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Upload)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Upload)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <p> Você Não tem Acesso a Está Página</p>
}